<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">VSCT bookstore</a>
   		</div>
		<div class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" role="form">
				<div class="form-group">
					<input type="text" placeholder="Username" class="form-control">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success" >Sign in</button>
				<!--<img src="../images/loading.gif" />-->
			</form>
			<!--<div class="navbar-right navbar-element">-->
				<!--Bonjour !-->
				<!--<a><span class="glyphicon glyphicon-off"></span></a>-->
			<!--</div>-->
		</div>
	</div>
</div>

<div ui-view></div>