<div>
	<div class="container">
		<h2>User page</h2>
		<hr/>

		<div ng-if="!userCtrl.getInfosInProgress && userCtrl.error" class="error">
			{{ userCtrl.error }}
		</div>

		<div ng-if="!userCtrl.getInfosInProgress && userCtrl.connectedUserInfos">
			<div class="row">
				<div class="col-xs-2 col-sm-1" style="text-align: right;"><i class="glyphicon glyphicon-user"></i></div>
				<div class="col-xs-3 col-sm-4">Nom d'utilisateur</div>
				<div class="col-xs-1">:</div>
				<div class="col-xs-6">{{ userCtrl.connectedUserInfos.username }}</div>
			</div>

			<div class="row">
				<div class="col-xs-3 col-sm-4 col-xs-offset-2 col-sm-offset-1">Prénom</div>
				<div class="col-xs-1">:</div>
				<div class="col-xs-6">{{ userCtrl.connectedUserInfos.firstname }}</div>
			</div>

			<div class="row">
				<div class="col-xs-3 col-sm-4 col-xs-offset-2 col-sm-offset-1">Nom</div>
				<div class="col-xs-1">:</div>
				<div class="col-xs-6">{{ userCtrl.connectedUserInfos.lastname }}</div>
			</div>
		</div>

		<div ng-if="userCtrl.getInfosInProgress">
			Récupération des infos en cours
			<img src="../images/loading.gif" />
		</div>
	</div>
</div>